<<<<<<< HEAD
.color1{
    color: #BD0707;
}

.color2{
    color: #974A4A;
}

.pink{
    background-color: pink;
=======
.color1{
    color: #BD0707;
}

.color2{
    color: #974A4A;
}

.pink{
    background-color: pink;
>>>>>>> e27699244d1195f870321db03361377831d39727
}